<settings>
    <setting propertyKey="@Properties.mwEmail" title="Identifiant Technogym (e-mail du compte Mywellness)">
        <settingConfig type="alphaNumeric" />
    </setting>
    <setting propertyKey="@Properties.mwPassword" title="Mot de passe Technogym">
        <settingConfig type="password" />
    </setting>
    <setting propertyKey="@Properties.backendUrl" title="Relais (avancé) : URL https, vide = bêta GitHub">
        <settingConfig type="alphaNumeric" />
    </setting>
    <setting propertyKey="@Properties.pairToken" title="Token d'appairage (avancé, backend perso)">
        <settingConfig type="password" />
    </setting>
    <setting propertyKey="@Properties.discoveryUrl" title="Fichier d'URL du backend bêta (si URL vide)">
        <settingConfig type="alphaNumeric" />
    </setting>
    <setting propertyKey="@Properties.autoReps" title="Compter les répétitions avec l'accéléromètre">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.autoEndSetS" title="Fin de série automatique après N s sans mouvement (0 = jamais)">
        <settingConfig type="numeric" />
    </setting>
    <setting propertyKey="@Properties.barKg" title="Poids de la barre (kg) pour le calcul des disques">
        <settingConfig type="numeric" />
    </setting>
    <setting propertyKey="@Properties.autoStartRest" title="Lancer le repos automatiquement">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.vibrateOnRestEnd" title="Vibrer en fin de repos">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.weightStepKg" title="Pas de charge (kg)">
        <settingConfig type="numeric" />
    </setting>
</settings>
